PORT=5001
MONGODB_URI=mongodb+srv://sa8449006_db_user:4bsGVlIhi1vOTHvv@cluster0.k41d73u.mongodb.net/faiz-traders-pos
JWT_SECRET=Llvb5bY4wIeOh62Y8K8gkh3afNoP76UABVwTnNKba3h
JWT_EXPIRES_IN=7d
ADMIN_SETUP_KEY=my-store-setup-key

ADMIN_NAME=Owner
ADMIN_EMAIL=admin@mystore.com
ADMIN_PHONE=03000000000
ADMIN_PASSWORD=admin123456
