PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/my_store_pos_erp
JWT_SECRET=change_this_secret_key
JWT_EXPIRES_IN=7d
ADMIN_SETUP_KEY=my-store-setup-key

ADMIN_NAME=Owner
ADMIN_EMAIL=admin@mystore.com
ADMIN_PHONE=03000000000
ADMIN_PASSWORD=admin123456
